/* .container {
  max-width: 900px;
  height: 750px;
  margin: auto;
  padding: 0 1rem;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
} */
/* .container .right {
  width: 100%;
  margin: 1rem auto;
} */
/* .container .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg);
} */